#main {
    width: 288px;
    height: 644px;
    border: 1px solid black;
    margin: 20px auto;
}

/* 所有按键 */
input {
    width: 60px;
    height: 60px;
    margin-left: 5px;
    margin-top: 30px;
}

/* 结果框 */
#inp1 {
    width: 270px;
    height: 50px;
    text-align: right;
}

/* 底部导航栏 */
#nav li a img{
    margin-top: 3px;
}

a {
    text-decoration: none;
    color: #000;
    display: block;
}

a p{
    font-size: 8px;
}

#SouthBar{
    width: 288px;
    height: 45px;
    border-top: 1px solid rgb(158, 150, 150);
    background-color: rgb(240, 232, 232);
    position: fixed;
    top: 619px;
}

#nav li{
    float: left;
}
#nav li:nth-child(1){
    padding-left: 30px;
}

#nav li:nth-child(2){
    padding-left: 75px;
}

#nav li:nth-child(3){
    float: right;
    padding-right: 30px;
}

/* 首页内容区 */
#content ul li{
    width: 50%;
    float: left;
    margin-top: 10px;
}

#content ul li a{
    display: block;
    width: 100px;
    height: 20px;
    border: 1px solid gray;
    text-align: center;
    line-height: 20px;
    margin-left: 20px;
}