#main {
    width: 288px;
    height: 644px;
    border: 1px solid black;
    margin: 20px auto;
}

input {
    width: 60px;
    height: 30px;
}

#inp1 {
    width: 270px;
    height: 50px;
    text-align: right;
}

