#main {
    width: 288px;
    height: 644px;
    border: 1px solid black;
    margin: 20px auto;
    overflow: hidden;
}

/* 顶部导航栏 */

#NorthBar {
    height: 40px;
    background-color: rgb(221, 184, 139);
    border-bottom: 1px solid black;
}

.menu{
    float: left;
    margin-right: 15px;
}

.tital{
    margin-top: 5px;
    float: left;
}

.search{
    padding-right: 5px;
    float:right;
}

#NorthBar ol li div p:nth-child(1){
    color: black;
    font-size: 14px;
}

#NorthBar ol li div p:nth-child(2){
    color: aliceblue;
    font-size: 8px;
}

li img{
    display: inline-block;
    height: 25px;
    line-height: 40px;
    margin-top: 3px;
}

/* 底部导航栏 */

a {
    text-decoration: none;
    color: #000;
    display: block;
}

a p{
    font-size: 8px;
}

#SouthBar{
    width: 288px;
    height: 45px;
    border-top: 1px solid rgb(158, 150, 150);
    background-color: rgb(240, 232, 232);
    position: fixed;
    top: 619px;
}

#nav li{
    float: left;
}
#nav li:nth-child(1){
    padding-left: 30px;
}

#nav li:nth-child(2){
    padding-left: 75px;
}

#nav li:nth-child(3){
    float: right;
    padding-right: 30px;
}

#nav li a img:hover{
    background-color: rgba(189, 212, 212, .8);
    border-radius: 50%;
}


/* 内容区 */
#content ul li div{
    width: 288px;
    font-weight: 550;
    margin-bottom: 20px;
} 

#content ul li div:nth-child(1){
    margin-top: 5px;
}

#content ul li div p{
    font-size: 8px;
    font-weight: 50;
    margin-top: 2px;
}

#content ul li div img{
    width: 30px;
    height: auto;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
} 