body{
    margin: 0;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.focus{
    position: relative;
    overflow: hidden;
    width: 375px;
}
.focus img{
    width: 100%;
    height: 100%;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 500%;
    height: 300px;
    overflow: hidden;
    margin-left: -100%;
}
ul li{
    float: left;
    width: 20%;
    height: 100%;
    transition: all .3;
}
.focus ol{
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: 0;
    padding: 0;
}
ol li {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color:#fff;
    list-style: none;
    border-radius: 50%;
}
li.current{
    width: 15px;
    border-radius: 2px;
}